[2019-10-27 17:04] SeanPrashad opened #1 "Add introductory studying approach"
It'd be great to have a suggested approach when solving questions, including:

- How long to spend on a never before seen leetcode question
- Where to go for the solution(s) and how to identify & study the optimal ones
- How to learn for your own learning style (_ie. visual, hands-on etc_)

[2019-10-27 17:07] SeanPrashad opened #2 "Add Leetcode Discuss"
[Leetcode discuss](https://leetcode.com/discuss/interview-question?currentPage=1&orderBy=hot&query=) is an excellent way to share and view current and previously asked questions by some of the major tech firms!

Let's consider adding this to the docs

[2019-10-27 17:11] SeanPrashad opened #3 "Rename this repository from "lc""
The current repo name, `lc`, was used as it was short and easy for me to `cd` into using [`z` ](https://github.com/agkozak/zsh-z).

For better visibility, we should consider renaming from `lc` to `leetcode-patterns`, `leetcode-study-guide`, `leetcode-pattern-study-guide`, or some other variant that better depicts to users the meaning/usage behind this repo.

[2019-10-27 17:14] SeanPrashad opened #4 "Convert to a template repository"
Originally I had intended for this repo to be used solely by myself as I worked through questions over the past summer.

With the repo being open-sourced now, it makes sense to move my solutions to a `solutions` branch, and convert the repo into a [template repository](https://help.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-template-repository) so that others can c

[2019-12-22 10:39] iadeelzafar commented on #3
`leetcode-patterns`

This looks good.

[2020-01-11 04:44] SeanPrashad commented on #3
Repo renamed from `lc` to `leetcode-patterns` now

[2020-01-11 04:44] #3 closed

[2020-01-11 04:45] SeanPrashad commented on #4
See Github's [`Creating a repository from a template`](https://help.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-from-a-template)

[2020-01-11 05:33] SeanPrashad commented on #2
Added in https://github.com/SeanPrashad/leetcode-patterns/commit/41325a79ee4387652700f6999eced3a7a65bf348

[2020-01-11 05:33] #2 closed

[2020-01-11 05:39] SeanPrashad commented on #4
Closing as it might create too much noise having files for Java, Python, and any other languages that individuals use

[2020-01-11 05:39] #4 closed

[2020-04-02 19:37] pendawleabhay opened #5 "Where's the subset pattern?"
I dont see the subset pattern

[2020-04-02 19:38] pendawleabhay opened #6 "Pattern as a dropdown"
Would it make more sense if pattern was a drop down?

[2020-04-03 02:46] SeanPrashad commented on #5
Questions that are about generating all subsets/permutations/combinations are found under the `Backtracking` pattern!

See below:

![image](https://user-images.githubusercontent.com/13009507/78318824-c1987f00-7533-11ea-97a7-b81a259ef25c.png)

[2020-04-03 02:48] SeanPrashad commented on #6
That's a fantastic idea!

I'm pretty sure I've seen something in `react-table` which can sort by a dropdown list based on all of the values - let me look into it in the next few days!

[2020-04-03 02:51] SeanPrashad commented on #1
I'd love to hear suggestions from the community on this - it wouldn't be too difficult to create a new tab, something like `Suggested studying` which contains a few ways of how one might use this list for studying.

[2020-04-04 03:27] pendawleabhay commented on #5
ohh thanks

[2020-04-04 03:27] #5 closed

[2020-04-16 17:36] SeanPrashad commented on #6
Hey @pendawleabhay - I just wanted to let you know that I was able to get this implemented as you asked!

If you do a "hard refresh" (<kbd>Shift</kbd> + <kbd>Cmd</kbd> + <kbd>R</kbd> on Mac for example), you should see the new drop down list for `Pattern`:

![image](https://user-images.githubusercontent.com/13009507/79488030-1c77af00-7fe7-11ea-9dbb-824170d09895.png)

I've also switched over the `D

[2020-04-16 17:36] #6 closed

[2020-04-28 02:38] pendawleabhay commented on #6
Awesome!
Thanks.

[2020-05-01 00:17] SeanPrashad opened #7 "Update/Add Patterns"
As I'm continuing my own studies, I realized that there are some missing categories that would be very helpful, such as:

- ~`Design`~
- ~`Trie`~
- `Greedy`

When adding these new patterns, we should update the existing questions and their respective pattern, if need be, in [`src/data/index.js`](https://github.com/SeanPrashad/leetcode-patterns/blob/master/src/data/index.js).

[2020-05-01 00:22] SeanPrashad opened #8 "Add Outcome Column to Table"
Each question that is found in the list has a specific purpose on what the learning outcome/new technique an individual adds to their own toolkit.

For example, the [`Subsets`](https://leetcode.com/problems/subsets/) question introduces a `Backtracking` skeleton, which can be almost copy-pasted for other similar questions, like [`Permutations`](https://leetcode.com/problems/permutations/) and [`Ge

[2020-05-11 22:41] SeanPrashad commented on #8
Tied to #1

[2020-05-24 13:23] mm1705 commented on #7
Should I just mention the questions of `Trie` category here or create a pull request editing [`src/data/index.js`](https://github.com/SeanPrashad/leetcode-patterns/blob/master/src/data/index.js)? <br />
If you'd prefer, I can share a leetcode list containing Trie questions which I find helpful in brushing up on Trie.

[2020-05-24 18:28] SeanPrashad commented on #7
@mm1705 How do you feel about opening a PR? I'd be more than happy to work with you to get a patch merged and could definitely add the companies from LC premium where necessary.

Open a new issue and be sure to mention this one so we have a reference point for the future!

[2020-05-25 18:21] mm1705 commented on #7
@SeanPrashad I opened a PR, check it out. <br />
Also, I see that currently there is only one pattern per LC problem, I would suggest we change it to an array and support multiple patterns per problem.

[2020-05-25 20:27] SeanPrashad opened #10 "Allow Multiple Patterns for Each Question"
Currently, each question is chosen to fit into a specific pattern, even if it might be applicable to other ones (ie. Some tree questions can be completed via DFS/BFS).

Original suggestion: Also, I see that currently there is only one pattern per LC problem, I would suggest we change it to an array and support multiple patterns per problem.

_Originally posted by @mm1705 in https://github.com/Sean

[2020-05-25 20:30] SeanPrashad commented on #7
I'm going to take a look at your PR @mm1705! Thank you for your work 🙆🏽‍♂️

[2020-05-25 21:33] SeanPrashad opened #11 "Show lock icon for Leetcode Premium questions"
It'd be helpful to show a small lock icon beside questions that are hidden behind Leetcode Premium!

[2020-05-26 19:49] SeanPrashad opened #12 "Sort question list by pattern then difficulty"
#9 made me realize that the question list only looks 'sorted' since the source file, https://github.com/SeanPrashad/leetcode-patterns/blob/master/src/data/index.js, has the question list conveniently sorted already.

However, this will become a problem when we begin adding new questions that add to existing categories, essentially showing the questions out of place.

Let's look into using `react-t

[2020-05-26 22:26] SeanPrashad commented on #12
Solved via https://github.com/SeanPrashad/leetcode-patterns/commit/d45088f40616c81ffe5716147e9e74331ad1974d

[2020-05-26 22:26] #12 closed

[2020-05-31 07:47] mm1705 opened #13 "Company as another filtering criteria for LC questions"
Currently, `Companies` are shown for each problem. If we hover over the icon, the company name is displayed.
How about when we hover over the company icon, we provide an option to click which results in a list of filtered LC questions for the current company?
We may also change `Companies` to a dropdown like `Pattern` and `Difficulty`.

[2020-06-03 09:31] RishiPrakash opened #14 "https://leetcode.com/problems/target-sum/ should be part of DP, not Backtracking"
https://leetcode.com/problems/target-sum/ is related to DP and DFS more and lesser to Backtracking.
Can we change it's tagging?

[2020-06-03 15:48] SeanPrashad commented on #14
Hey @RishiPrakash! After taking a look at the solution to the question once, I think you're totally right that this question relates to DFS/DP more than Backtracking.

The 'brute force' heavily resembles DFS! I'll add it to `DFS` for patterns now and make note in #10 to add `DP` as a second pattern - thanks!

[2020-06-03 15:53] #14 closed

[2020-06-03 15:57] SeanPrashad commented on #13
I think this would be pretty cool @mm1705 - I will have to play around with [react table](https://www.npmjs.com/package/react-table), the library I use to render the entire chart, to see if invoking a filter is possible via clicking an icon.

There are a handful of [simple and more complex examples](https://github.com/tannerlinsley/react-table/blob/HEAD/docs/examples.md) that would be a good start

[2020-06-03 16:01] SeanPrashad commented on #10
Note: Double check the solution as well as Leetcode's `Related Topics` section to aggregate all applicable patterns for each question

[2020-06-05 06:34] mm1705 opened #16 "Request for open source license for this website"
Hi @SeanPrashad,
I would like to suggest using a license for this website. You may refer to [choosealicense.com](https://choosealicense.com/), a site maintained by GitHub, for picking a license. This website also explains how licenses work and describe some popular licenses in detail.

[2020-06-05 14:54] #16 closed

[2020-06-05 14:55] SeanPrashad commented on #16
Great idea @mm1705 - I've added the [GNU GPLv3](https://choosealicense.com/licenses/gpl-3.0/) as I want this project to stay open-source in its entirety and to disallow anyone from making a "closed" version for profit.

[2020-06-05 16:57] SeanPrashad opened #18 "Freeze header fields on scroll"
Investigate if it is possible to freeze the headers for the table so it's possible to adjust filters when scrolling down the page.

[2020-06-05 17:15] #11 closed

[2020-06-05 18:52] #18 closed

[2020-06-05 19:31] SeanPrashad commented on #13
Good news! It looks like this is possible:

![image](https://user-images.githubusercontent.com/13009507/83915522-68221b80-a741-11ea-9c16-1bb257426e6a.png)

There are some edge cases that I'm looking into. For example, when a company only has `hard` questions and the user had `easy` previously selected, it will show 0 questions (which is correct), but the filtering will not work properly for future

[2020-06-05 22:27] #13 closed

[2020-06-05 22:30] SeanPrashad commented on #13
Sweet - so I was able to get this working pretty nicely @mm1705! There were some edge cases with how the question list was being populated under certain criteria list [here](https://github.com/SeanPrashad/leetcode-patterns/issues/13#issuecomment-639745163) but I fixed it by always showing `Easy`, `Medium`, and `Hard` for the `Difficulty` dropdown, instead of populating dropdown list values based o

[2020-06-06 01:07] SeanPrashad commented on #10
This is definitely possible - see the logic introduced in #21 for generating handling multiple company names.

[2020-06-06 17:11] SeanPrashad opened #23 "Resize localStorage array to accomodate for new questions"
Currently, if new questions are added [here](https://github.com/SeanPrashad/leetcode-patterns/blob/master/src/data/index.js), then any user who visited the site prior to the addition will not be able to use the checkbox to mark off new questions as the array in their local storage won't have indexes for the new questions (ie. _it will be short_).

We should account for this and update the initiali

[2020-06-06 17:11] SeanPrashad commented on #23
Code in question here:

https://github.com/SeanPrashad/leetcode-patterns/blob/5423f06bbe18843f6843d260dc4bf74465502221/src/components/Table/index.js#L26-L29

[2020-06-06 20:47] #10 closed

[2020-06-06 20:48] SeanPrashad commented on #10
I've updated the functionality to allow multiple patterns per question! See below:

![image](https://user-images.githubusercontent.com/13009507/83954247-95d89480-a815-11ea-8aea-b4a6c78d6398.png)

cc @mm1705 😃

[2020-06-06 20:54] SeanPrashad opened #24 "Allow users to filter by multiple patterns at once"
With the introduction of #22, we're now able to add multiple patterns per question. As a result, it'd be helpful to filter the question list by more than one pattern.

Investigate starting here: https://www.w3schools.com/tags/att_select_multiple.asp

[2020-06-08 04:46] ishayadav181 opened #25 "Feature request - Hide Patterns for Unsolved Problems"
It would be great if we can hide topic tags for unsolved problems, knowing which algorithm to use beforehand restricts the thinking process in one direction.

[2020-06-09 16:18] SeanPrashad commented on #25
Hey @ishayadav181 - I like this idea!

Originally when I had put together the list (and open sourced it as the website you see now), I thought that individuals could use it in a way to "learn" a pattern, like `Backtracking` and then continue on studying/solving other questions. In hindsight, I didn't think that some individuals would want to keep unsolved questions hidden..

Let me investigate som

[2020-06-09 16:56] ishayadav181 commented on #25
Hi @SeanPrashad
You are right some people may like to practice topic wise questions. Maybe an option like `Hide tags for unsolved problems` will do the work. Anyway thanks for your efforts. Nice problem set !

[2020-06-09 20:51] rishalshah opened #27 "Feature request - Filter questions by company names"
Hi, it would be helpful if one could filter questions by clicking on company logo or having a search bar near the company header to search for questions asked by a particular company or a set of companies.

[2020-06-09 21:41] SeanPrashad commented on #27
Hey @rishalshah! I had implemented this for a single company in https://github.com/SeanPrashad/leetcode-patterns/pull/21 - see below:

![image](https://user-images.githubusercontent.com/13009507/84203964-565db280-aa78-11ea-8ed5-0f09a4e83a15.png)

I think it would be possible to select multiple companies instead of just a single one but I'd have to look into it over the next bit!

[2020-06-09 22:08] #25 closed

[2020-06-09 22:12] SeanPrashad commented on #25
Hey @ishayadav181 - I had a toggle semi-working on a separate branch but there were some edge cases that I didn't fully understand (It's been awhile since I've worked in-depth with React).

As a workaround, patterns are now hidden by default, unless the respective checkbox has been checked - see below:

![Showing_Checked_Question ](https://user-images.githubusercontent.com/13009507/84206203-ad6586

[2020-06-26 00:11] bhavesh-banknovo opened #31 "Option to see patterns"
Hey Sean, thank you for the list, it has been really helpful. I was wondering whether it would be possible to add a switch or something at the top to toggle on/off the pattern types for each question. Currently all the pattern types are hidden unless a user clicks check at the left. While hiding the pattern type is definitely useful, I imagine that there are quite a few people who may be trying to

[2020-06-26 01:15] SeanPrashad commented on #31
Hey @bhavesh-banknovo 😁 I'm super happy to hear that you've found value from the list!

I totally agree with you that having a slider toggle of some sort to show/hide patterns at will is a fantastic idea. I'm going to look into this over the weekend and try to get some progress made on it. I am working full-time now so I'm usually jam packed during the weekdays but I know I should have implemented

[2020-06-26 01:18] SeanPrashad commented on #31
Related: https://github.com/SeanPrashad/leetcode-patterns/pull/28

[2020-06-27 18:42] #31 closed

[2020-06-27 18:55] SeanPrashad commented on #31
Hey @bhavesh-banknovo! I'm happy to say that this has been implemented and you'll now see a toggle beside the Pattern column header:

![image](https://user-images.githubusercontent.com/13009507/85929862-183cfd00-b886-11ea-9252-f65f68dfcaad.png)

Clicking on this (or the label `Show/Hide Patterns`) will now toggle all patterns between being hidden or being shown!

Please let me know if you find bug

[2020-06-27 19:54] #23 closed

[2020-06-27 21:32] SeanPrashad opened #36 "Show Patterns for Completed Questions"
A follow-up to #31 - let's show patterns for completed questions (denoted by the checkbox for the respective row).

[2020-06-27 21:41] #36 closed

[2020-07-05 18:29] rajatsing opened #38 "Add Questions for Stacks and Queues"

[2020-07-06 21:35] SeanPrashad commented on #38
Thanks for opening this issue @rajatsingh25aug!

I'd be more than happy to accept pull requests that add on stack/queue questions you feel are great to study. New questions would be added after [question 171](https://github.com/SeanPrashad/leetcode-patterns/blob/8ebdb87d04726cbd0b92fdfd21416540b0bd8b30/src/data/index.js#L2048).

I'd be able to help supply the companies for each respective question

[2020-07-06 21:37] rajatsingh25aug commented on #38
@SeanPrashad are you planning to add more questions in general, like increasing the number of questions?.

[2020-07-06 21:43] SeanPrashad commented on #38
I feel the list covers a handful of patterns at this moment, but I'm always open to figuring out if there are patterns we're missing, or new questions that fit into the existing categories.

I know existing questions, like [Validate Parentheses](https://leetcode.com/problems/valid-parentheses/) and common [Min Stack](https://leetcode.com/problems/min-stack/) would fall under the `Stack` category a

[2020-07-06 21:44] rajatsingh25aug commented on #38
thanks sean, will keep this in mind.

On Tue, 7 Jul 2020 at 3:13 AM Sean <notifications@github.com> wrote:

[2020-07-09 16:46] SeanPrashad opened #39 "Show Breakdown of Questions Completed By Difficulty"

[2020-07-17 06:31] bodhwani opened #40 "Everything vanishes on filtering levels using Google Chrome"
As I filter anything, everything vanishes.
It is working fine on safari, but not on Google Chrome. Please check whats the issue.

[2020-07-17 12:35] SeanPrashad commented on #40
Hey @bodhwani - thanks for reaching out!

Are you able to tell me the following?

- Version of Chrome
- Are you on mobile?
- Have you "checked" off any questions as completed?
- What is the minimum filtering options for "everything to vanish"? For example, if you select only "Medium" questions, do all questions dissapear? What happens if you select "Medium" difficulty with the company "Google"?

T

[2020-07-17 15:58] bodhwani commented on #40
Version is
"Version 83.0.4103.116 (Official Build) (64-bit)"
I am on Mac OS
Mark question: Yes I tried. It is not working
If I try any filter, everything vanishes. Hope that helps!

[2020-07-17 17:11] SeanPrashad commented on #40
Thanks for that info @bodhwani - my first instinct is that I broke something in [this patch](https://github.com/SeanPrashad/leetcode-patterns/pull/35), which automatically resizes the local storage array used to keep track of which questions have been completed when you click a checkbox.

One way would be to completely reset that array that from within Chrome, but that means you would start with e

[2020-07-17 17:20] bodhwani commented on #40
It works fine on Incognito Mode, but I cannot keep track of anything as I close the tab. Is there any other alternative?
Btw, how to reset the array within Chrome? @SeanPrashad

[2020-07-17 17:26] SeanPrashad commented on #40
Awesome @bodhwani - let's reset the array within Chrome!

1. Please open up a regular Google Chrome browser
1. Press <kbd>Cmd</kbd> + <kbd>Option</kbd> + <kbd>J</kbd> to open Developer Tools
1. Navigate to the `Application` tab as shown below:
![image](https://user-images.githubusercontent.com/13009507/87813863-b3dfde80-c830-11ea-9e53-f5072b892b0a.png)
1. From the left-hand side, left click the ar

[2020-07-17 21:09] bodhwani commented on #40
Nope. Still, it is not working :(

[2020-07-17 21:14] SeanPrashad commented on #40
OK - let's try another way of deleting it:

1. Open `chrome://settings/siteData` in a new tab
1. In the top right hand corner, search for `seanprashad`:
![image](https://user-images.githubusercontent.com/13009507/87831142-a4708d80-c850-11ea-9bd1-2ede00481623.png)
1. Click the trash icon to delete local storage for the leetcode patterns website
1. Next, browse to https://seanprashad.com/leetcode-pa

[2020-07-17 21:48] bodhwani commented on #40
Still not working
Errors:
DOMException: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.
Uncaught DOMException: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.

[2020-07-17 21:57] SeanPrashad commented on #40
Hmm.. this is super weird and that error message is for React but doesn't give us much to work with unfortunately 🤔

For now, please use the website in another web browser and keep track of your completed questions in a document of some kind - I need to take a look at the changes I've made recently in more detail and see if I can figure out the problem and push a new patched version

[2020-07-17 22:35] SeanPrashad commented on #40
@bodhwani I noticed that you are on an old version of Google Chrome - can you please update it as per these instructions: https://support.google.com/chrome/answer/95414?co=GENIE.Platform%3DDesktop&hl=en

The version I have is `Version 84.0.4147.89 (Official Build) (64-bit)`:

![image](https://user-images.githubusercontent.com/13009507/87835832-4cd81f00-c85c-11ea-97a2-9e9fe0f3dada.png)

[2020-07-20 22:38] SeanPrashad commented on #40
Hi @bodhwani - please let me know if this is still an issue after persisting, otherwise I'll consider this fixed and close the issue

[2020-07-21 17:00] bodhwani commented on #40
It didnt solve the issue.

[2020-07-21 22:53] SeanPrashad commented on #40
Hmm this is really strange.. I have to do some more digging and think of what else we can try - please use another browser for the time being, ty!

[2020-07-24 19:37] SeanPrashad commented on #40
Hey @bodhwani - another idea popped into my head to try.

Can you delete cookies for https://seanprashad.com/leetcode-patterns/ by doing the following:

1. Open Chrome and browse to https://seanprashad.com/leetcode-patterns/
1. Click on the lock icon to the left of the URL bar:

![image](https://user-images.githubusercontent.com/13009507/88428748-77c5f400-cdc3-11ea-81f2-d1e16b7ad454.png)

1. Click

[2020-07-25 20:16] bodhwani commented on #40
Still didn't work :(

[2020-07-28 11:08] Manideep2207 opened #42 "One More Tip to consider"
If the problem is to be solved inplace, we will get to the solution either by
1. swapping the corressponding values.
2. Storing one or more different values in the same pointer

[2020-07-28 15:03] SeanPrashad commented on #42
Hey @Manideep2207! Thank you for this tip!

Would you be able to link a question that this tip applies to? I think I have an idea about what you're referring to but I'd like to be 100% sure 😀

[2020-07-29 09:20] Manideep2207 commented on #42
Thanks for getting back to me so quickly.
I will attach those relevant problems in github.

On Tue, Jul 28, 2020, 20:33 Sean Prashad <notifications@github.com> wrote:

[2020-07-29 13:40] Manideep2207 commented on #42
<a href = "https://leetcode.com/problems/first-missing-positive/">41. First Missing Positive</a>
Sort an array of 0s, 1s and 2s
<a href = "https://leetcode.com/problems/set-matrix-zeroes/">73. Set Matrix Zeroes</a>
<a href = "https://leetcode.com/problems/rotate-image/">48. Rotate Image</a>
Block swap algorithm(<a href = "https://www.geeksforgeeks.org/block-swap-algorithm-for-array-rotation/?ref=r

[2020-08-07 22:33] Sai-Adarsh commented on #38
+1, and you're doing a great job @SeanPrashad

[2020-08-13 14:58] orbit-stabilizer opened #44 "Question Listed Twice"
Remove Duplicates from Sorted List is listed twice.

[2020-08-13 15:53] SeanPrashad commented on #44
Thanks for the heads up @orbit-stabilizer!

Note that the two references are below:

https://github.com/SeanPrashad/leetcode-patterns/blob/4e5285246793368461d8403fbe76041d32c5768d/src/data/index.js#L685

and

https://github.com/SeanPrashad/leetcode-patterns/blob/4e5285246793368461d8403fbe76041d32c5768d/src/data/index.js#L1829

[2020-08-13 15:58] SeanPrashad commented on #44
Fixed in https://github.com/SeanPrashad/leetcode-patterns/commit/a397147353f759d424b094ad153b7de1fe0f87b4

[2020-08-13 15:58] #44 closed

[2020-08-15 19:19] aggarwalsachin opened #45 "Binary Search Problem Add Pattern: Allocate Books/painter partition and Sorted Array Median"
Hi Sean Prasad ,the list you have provided is quite great I will suggest u to add these 2 problem in binary search as these are very popular interview problem quite known by name .I will update you if i will face any other good problem.These two problem are unique .

[2020-08-15 20:03] SeanPrashad commented on #45
Hi @aggarwalsachin! I'm super happy to hear the list has been helpful to you 😁

I didn't see the names of the problems you wanted to add - would you be able to tell me which # they are on Leetcode so I can add them right away? Thank you!!

[2020-08-15 20:04] SeanPrashad commented on #42
Hi @Manideep2207! I haven't forgotten about adding these - I just haven't had time to check them out on my own in the past few weeks. I plan to look them over soon 😃

[2020-09-04 00:53] SeanPrashad commented on #45
Just wanna touch base to see if you had some time to help me find the 2 problems on leetcode @aggarwalsachin - thanks!

[2020-09-08 16:42] rishav142k opened #47 "Let the user see how many problems has he done"
So, there is a total number of questions present there, but I think it would be beneficial if we could also see the number of questions we have done, including the number of easy medium and hard questions number in the list. I think it would be pretty useful feature. Also, if it is approved, I would like to work upon it, too.

[2020-09-08 16:44] rishav142k commented on #47
I see the issue has already been opened. Closing this now.

[2020-09-08 16:44] #47 closed

[2020-09-08 16:50] SeanPrashad commented on #39
@rishav142k opened #47, which is related to this!

[code]

[2020-09-08 16:58] SeanPrashad commented on #39
I'd love to have you give this a shot @rishav142k!

The code for generating the table is found [here](https://github.com/SeanPrashad/leetcode-patterns/blob/master/src/components/Table/index.js).

Here's what I was thinking on how we could solve this problem:

- For each row, ie. each question, there is a custom `checked` column that is added here: https://github.com/SeanPrashad/leetcode-patterns/b

[2020-09-08 16:59] SeanPrashad commented on #47
Thanks for opening this @rishav142k! I'd love to get this feature done as it has been requested a handful of times, but finding spare time isn't very easy. I'd love for you to give it a shot and I would be more than happy to help out where possible - see my comment [here](https://github.com/SeanPrashad/leetcode-patterns/issues/39#issuecomment-689010843) for more details!

[2020-09-08 17:29] rishav142k commented on #39
I'll try and give it a shot. Yeah, this is definitely a lot more than I expected. I'll reach out to you if I need any help and mentoring. By the way, this is a really cool project. I'd love to help here.

[2020-09-17 02:40] SeanPrashad commented on #45
"_Allocate Books_" = Unknown Question
"_Painter Partition_" = Unknown Question
"_Sorted Array Median_" = https://leetcode.com/problems/median-of-two-sorted-arrays/

[2020-09-17 03:13] #42 closed

[2020-09-17 03:14] SeanPrashad commented on #42
A month later and I've finally gotten around to adding this tip! Thanks again for suggesting it @Manideep2207, myself and others definitely appreciate it 😁

[2020-09-17 03:15] SeanPrashad commented on #39
Hey @rishav142k! Just wanted to pop by and see if you're stuck at all - happy to help answer any and all questions!

[2020-09-17 03:16] SeanPrashad commented on #45
Hey @aggarwalsachin, would you be able to verify if I found the right questions? Please see above - thank you!!

[2020-09-17 05:11] aggarwalsachin commented on #45
Sorted array median link is fine for allocate books and painter partition
question refer the interviewbit  binary search section.

On Thu, 17 Sep 2020 at 08:46, Sean Prashad <notifications@github.com> wrote:

[2020-09-17 05:33] rishav142k commented on #39
Hi! I have been kinda busy these days.(Online classes, I tell you). Will start this in this week, and will let you know the problems I would be facing.

[2020-09-18 12:07] Manideep2207 commented on #42
Thanks so much for considering this @SeanPrashad

[2020-09-30 17:09] aaryapatel007 commented on #45
Here are the links:
https://www.interviewbit.com/problems/allocate-books/
https://leetcode.com/problems/median-of-two-sorted-arrays/
https://www.interviewbit.com/problems/painters-partition-problem/

[2020-10-07 18:37] aaryapatel007 commented on #45
https://leetcode.com/problems/majority-element/
add this too @SeanPrashad .
When will u add the problems in the previous comment?
Thanks

[2020-10-08 02:49] SeanPrashad commented on #45
Hey @aaryapatel007 - thanks for pinging me. I'm super busy right now but I do plan on adding them - what do you think about submitting a pull request? I'd be more than happy to show you around!

[2020-10-21 03:27] stevenbenmoha opened #52 "Letter Case Permutation tagged as Easy, but is Medium on leetcode"

[2020-10-21 03:42] #52 closed

[2020-10-21 03:44] SeanPrashad commented on #52
Hey @stevenbenmoha! 😁 Thanks so much for letting me know about this - it looks like Leetcode changed the difficulty to better reflect the question. I've updated the pattern on my website - see below:

![image](https://user-images.githubusercontent.com/13009507/96670768-31ceec80-132e-11eb-8b4b-5277b200388b.png)

Thanks again!!!

[2020-10-21 04:04] stevenbenmoha commented on #52
Wow, quick response time! Thanks for updating it.

Cheers!

On Tue, Oct 20, 2020 at 11:44 PM Sean Prashad <notifications@github.com>
wrote:

--
*Steven Benmoha*
732-832-6972
steven.benmoha@gmail.com

[2020-10-24 04:48] SeanPrashad commented on #45
Hey everyone - thanks for taking the time to let me know about new questions. I've gone ahead and added `Median of Two Sorted Arrays` and `Majority Element` to the existing list!

I've decided not to include the questions from _interviewbit.com_ as this repository is solely focused on questions from Leetcode. In the future, I'd definitely be open to including questions from other websites, but kee

[2020-10-24 04:48] #45 closed

[2020-11-13 04:59] Aariv opened #57 "Hook up the solutions on each problem"
Need another column to point out the solution, in case if anyone wants to have a look at it. It could be visible based on the preferences.

[2020-11-13 17:12] SeanPrashad commented on #57
Hey @Aariv! Thanks for the suggestion! This thought did cross my mind before but do you think I should link to the Leetcode Discuss section or the `solutions` branch for this repo? The vast majority of the solutions that I studied are optimal but I know that for some, I chose the easier way that made more sense to me.

Let me know what your thoughts are!

[2020-11-20 15:52] snehasishroy opened #58 "Ability to hide solved problems"
Hi,

First of all wanted to say thank you for collating different patterns of problems.  Very helpful.

Now I would really love an ability to hide solved problems, or at-least show a count to user to how many problems he has already solved and how many are remaining.

Thank you.

[2020-11-20 17:55] Sai-Adarsh opened #59 "Feature Request - Qns solved / Total qns"
Would be great to keep track of questions solved / total number of questions. Thanks.

Also, checkout: [Striver's list](https://docs.google.com/document/d/1SM92efk8oDl8nyVw8NHPnbGexTS9W-1gmTEYfEurLWQ/preview?pru=AAABdCnqg2E*ahqUNNC41Gk7UPJwB-AX6g) if you're adding more problems to the list.

[2020-11-20 21:05] snehasishroy commented on #59
Hey, I raised a similar request hours ago 😄
https://github.com/SeanPrashad/leetcode-patterns/issues/58

[2020-11-21 00:55] SeanPrashad commented on #59
Thanks for that list as well as your suggestion @Sai-Adarsh - I'll try to get started on this towards the end of the year when I get some free time from regular work!

[2020-11-28 18:10] agauniyal opened #60 "Two different sets of questions on different devices?"
Why do I see two different sets of questions on different devices. One of my device shows questions like arrays and stuff early on while my laptop and pc both show questions in this order -
[code]
DP question starts just at number 5 in this set.

[2020-11-28 18:22] SeanPrashad commented on #60
Hey @agauniyal - off the top of my head, I'm not 100% sure. The order that is showing up on your laptop and PC looks correct to me! For reference, I've decided to sort questions **by their Difficulty** ([see the code here](https://github.com/SeanPrashad/leetcode-patterns/blob/838a153ac34e4f8b019fd9734cfbc3081bffa4c2/src/data/index.js#L2051)). The actual question list should not change very often a

[2020-11-29 05:16] #40 closed

[2020-12-15 00:37] stevenbenmoha opened #62 "House Robber (DP) changed difficulty to Medium"
another annoying update from yours truly :)

[2020-12-15 01:23] #62 closed

[2020-12-15 01:24] SeanPrashad commented on #62
Thanks for the heads up @stevenbenmoha!! I've updated the difficulty from `Easy` to `Medium` in https://github.com/SeanPrashad/leetcode-patterns/pull/63

[2020-12-18 11:49] juhitiwari commented on #39
Hello @SeanPrashad. I have tried to give this feature a shot. Could you please review it in the PR and suggest any improvements/further work?

[2020-12-18 20:06] SeanPrashad commented on #39
Thanks so much @juhitiwari!!! I've made a note to give it a look this weekend when I have more free time 😁

[2020-12-25 23:37] #39 closed

[2020-12-25 23:38] SeanPrashad commented on #39
This is now complete! 🎉 Thanks again for helping land this @juhitiwari!!! 😁

[2020-12-25 23:38] #60 closed

[2020-12-25 23:39] SeanPrashad commented on #60
Closing as no follow-up from OP

[2020-12-26 00:11] #58 closed

[2020-12-26 00:14] SeanPrashad commented on #58
Hey @snehasishroy - thanks a bunch of requesting this feature! #67 introduced the code to show just how many questions a user has completed for each level of difficulty.

I've gone ahead and added a total count to show how many questions a user has completed out of ALL of them:

![image](https://user-images.githubusercontent.com/13009507/103143506-60c65d80-46e5-11eb-8f38-c80ba24e78ed.png)

Please

[2020-12-26 00:17] SeanPrashad commented on #59
Hey peeps - great news! This feature has been landed in #67 - check it out on the live website or see below for a screenshot of what it looks like:

![image](https://user-images.githubusercontent.com/13009507/103143519-c286c780-46e5-11eb-8194-7bc2776bed51.png)

[2020-12-26 00:17] #59 closed

[2020-12-26 02:50] juhitiwari commented on #39
Thank you!

[2020-12-26 03:28] #8 closed

[2020-12-26 03:28] SeanPrashad commented on #7
Closing this as we've added the ability to have multiple patterns for each question.

[2020-12-26 03:28] #7 closed

[2020-12-26 03:29] SeanPrashad commented on #27
Marking this as solved since there exists a dropdown list which individuals can use to filter questions by company.

[2020-12-26 03:29] #27 closed

[2020-12-26 03:30] #24 closed

[2020-12-26 03:31] SeanPrashad commented on #38
Closing this as I'd like to have separate GitHub issues opened for when individuals submit certain questions to add! Thanks everyone! ✌🏽

[2020-12-26 03:31] #38 closed

[2020-12-26 03:31] SeanPrashad opened #68 "Update Company List for Each Question"
TODO before my Leetcode Premium subscription runs out in a few days!

[2020-12-26 03:32] SeanPrashad commented on #68
Also look into https://www.npmjs.com/package/react-notification-badge to add a little notification icon to let individuals know that the company list was updated recently! Save it into LocalStorage under a unique format like `20201225-company-update` or something

[2020-12-26 14:44] juhitiwari opened #69 "Total question count is showing just easy questions count"
![Screenshot from 2020-12-26 20-02-57](https://user-images.githubusercontent.com/26180236/103153279-7440f980-47b5-11eb-9a7e-ddf62940c8a5.png)
The total question count is just showing the number of easy questions count.

[2020-12-26 16:24] SeanPrashad commented on #69
Ahh good catch! It's a small fix that I'll update once I get to my computer later today.

Thanks for the heads up @juhitiwari!!

[2020-12-26 18:21] #69 closed

[2020-12-26 18:22] SeanPrashad commented on #69
This has been fixed! Please refresh the website when you get a chance - thanks!!

[2020-12-26 20:47] #68 closed

[2020-12-26 22:03] #57 closed

[2020-12-26 22:04] SeanPrashad commented on #57
Hey @Aariv! I've added a `Solutions` column which now links to the relevant LeetCode Discuss section for the respective problem:

![image](https://user-images.githubusercontent.com/13009507/103159859-6f238080-479c-11eb-92a7-223c270448c6.png)

If you have any other suggestions/ideas, please let me know! ✌🏽

[2020-12-27 01:19] jye48 opened #73 "Insert Interval is a medium question in LeetCode but its tagged as a hard question on your website."
Hi Sean, thanks for making this site and keeping it up to date. I've been going through the problems and I found that the Insert Interval question is a medium question in LeetCode, but its tagged as a hard question on your website.

[2020-12-27 01:28] SeanPrashad commented on #73
Hey Jerry!! Great catch - overtime it looks like Leetcode is updating the difficulty on some questions and you found one of them. I'll go ahead and make that quick change - stay tuned!

[2020-12-27 01:31] SeanPrashad commented on #73
Okay this should be fixed now - it was just a tiny fix ([see here](https://github.com/SeanPrashad/leetcode-patterns/pull/74/files)). If you ever find a question that needs updating, feel free to ping me once again or even take a shot via a pull request - I'm always happy to help mentor!

Good luck studying and happy holidays!

P.S. I updated the companies for each question earlier this afternoon F

[2020-12-27 01:31] #73 closed

[2020-12-27 01:33] SeanPrashad opened #75 "Filtering questions by name returns no results"
This bug is a result of my patch in #72 - look into reverting and adding the solutions in a better location

[2020-12-27 02:06] #75 closed

[2020-12-27 02:09] seanprashad opened #77 "Add filtering for Questions column"
In #72, we combined the `Name` and `Url` column into one in order to nicely fit the `Solutions` column, which linked to Leetcode Discuss.

As a result, filtering capability for the new `Question` column (ie. the column meant to replace `Name` and `Url`) is broken since it's contents are now a custom function and we can't filter by plain text anymore (_since it's a hyperlink now_).

[2020-12-27 09:53] mattpotato opened #78 "Add another column for notes"
I think we should be able to take notes on each of the problems. Could be stored in local storage just like the check marks

[2020-12-27 18:14] SeanPrashad opened #79 "Link to LeetCode Discuss sorted by the most voted solutions"

[2020-12-27 18:15] #79 closed

[2020-12-27 18:17] SeanPrashad commented on #78
Hey @mattpotato! Thanks for the suggestion - funny enough, I was thinking of adding this feature a few days ago but was wondering how to implement it so it wasn't intrusive in any way!

I'll try to give it a shot in the next little while but if you have any suggestions on how it might look/function, please feel free to share them!

[2020-12-28 02:51] jye48 opened #81 "Container With Most Water Should be Tagged as Medium"
Container With Most Water question is a LC medium but its tagged as LC hard.

[2020-12-28 03:27] #81 closed

[2020-12-28 03:28] SeanPrashad commented on #81
Thanks @jye48 - I've updated the difficulty for this question! 👍🏽

[2020-12-29 05:46] jye48 opened #83 "Longest Substring Without Repeating Characters should be tagged as medium"
Longest Substring Without Repeating Characters is a LC medium but is tagged as hard

[2020-12-29 16:56] SeanPrashad commented on #83
Fixed, thank you!

[2020-12-29 16:56] #83 closed

[2021-01-03 03:43] seanprashad opened #85 "Correct Solutions URLs for Premium Questions"
For some of the premium questions, they have a trailing `/` which is expected, since the regular questions all do. However for some questions, like Alien Dictionary, they don't have a trailing `/` and so we have to append one so it's a valid URL.

However, the logic is incorrect for how we perform this:

https://github.com/SeanPrashad/leetcode-patterns/blob/126989c5aa122ddc4e35acc81b984916af75adde

[2021-01-17 00:07] TigerPurrer opened #86 "Please Consider Adding a Shuffle Button"
Even though there is a "Show/Hide Patterns" slide, it seem that most of the questions are clustered together when they share patterns within a difficulty.

Even though I try not to pay attention to the revealed patterns of the near by questions, I often see them.  This gives me a very good hint on how to approach to a problem which I won't have when I will be in an interview.

A shuffle button/sli

[2021-01-17 00:09] SeanPrashad commented on #86
Thanks for the suggestion @TigerPurrer! I understand what you mean - I'll see if I can pick this up in the next little white! Thanks 😁

[2021-01-17 00:10] TigerPurrer commented on #86
Thanks a lot! :)

[2021-01-19 02:30] TigerPurrer opened #87 "Maintain the Filtering after a Refresh"
Preserving the filtering, especially the Companies filtering, after a refresh or when closing the page and opening it again, is a good idea. Recording that information in the cookies seems like an easy fix.

[2021-01-19 02:33] TigerPurrer opened #88 "Progression Labels on the Top Should Reflect the Filtering"
I think progression labels on the top (e.g. Total: 75/170, Easy: 14/36, Medium: 53/102, Hard: 8/32) should be reflecting the list that's present on the screen. This is not something important, but just realized that they were not changing and felt like mentioning it :)

[2021-01-23 04:26] seanprashad opened #89 "Add "Last Solved On" Column"
It'd be nice to have a column that would show you when you last solved the question! This could be useful for individuals who want to re-attempt previous questions that gave them trouble (_like Backtracking for me_)

[2021-01-23 04:29] SeanPrashad commented on #88
Good catch @TigerPurrer - it makes sense that the `X/Y easy` etc should update when filtering by `Difficulty`, `Pattern`, or a combination of the two. On first thought, I think this will be trickier than it seems but it's still worthwhile to investigate!

[2021-01-25 04:51] seanprashad opened #90 "Sort by Difficulty then Pattern(s)"
Currently we only sort by `Difficulty`, which leads to some questions not being ordered properly - see `Target Sum` below:

![image](https://user-images.githubusercontent.com/13009507/105662978-087aab00-5e9f-11eb-985a-b87e64031cab.png)

[2021-02-03 00:46] Yashwin12 opened #91 "Two filters do not work together"
Following steps to re-create this issue:

1. Filter problems with any difficulty. (In the screenshot "easy" is selected)
2. After this, filter out with any company. (Over here "Capital One" is selected)

In the screenshot, one can see it filters out with Capital One and clearly disregard the "easy" difficulty filter. I think UI should either incorporate "smart filtering" - results considering both

[2021-02-03 01:55] SeanPrashad commented on #91
Hey @Yashwin12 ✌🏽 Thanks a bunch for pointing this bug out - I just tried reproducing it using the STR you listed but it looks like filtering is working as intended:

https://user-images.githubusercontent.com/13009507/106686762-e9fc6a00-6598-11eb-9afc-c2e9fcf45afa.mp4

Are you able to reproduce it in Incognito mode, or just the regular website? We can try to narrow down what's busted from there

[2021-02-05 19:14] Yashwin12 commented on #91
Hi @SeanPrashad, thank you for replying back. Actually, I found why it was behaving like this; I accidentally hit the 'previous' button in the browser. Please consider below STR and gif to reproduce.

1. Select company filter. ( Over here "Capital One" is selected )
2. Navigate to the "previous" page in the browser.
3. Navigate back to the Leetcode Patterns page. You can still see the filter value

[2021-02-05 19:34] SeanPrashad commented on #91
Amazing stuff! I am also able to confirm the bug based on your updated STR listed.

The current behaviour doesn't save your settings (ie. Which difficulty, companies, and patterns you have filtered by, if any). Over in #87, it was requested that these settings be saved like how the checkboxes are via [Local Storage](https://github.com/SeanPrashad/leetcode-patterns/blob/d12a3cc43f569fc48e27e7fab5a4

[2021-02-05 19:43] Yashwin12 commented on #91
Great! I think saving filter selection in local storage is a good idea, but as a user on the page refresh, it makes more sense (at least over here) to reset filters. Just my two cents!!

[2021-03-01 23:23] stevenlay opened #92 "Binary Tree Level Order Traversal II should be tagged as medium"
Binary Tree Level Order Traversal II is now a LC medium, but is tagged as LC easy.

https://leetcode.com/problems/binary-tree-level-order-traversal-ii/

[2021-03-01 23:28] #92 closed

[2021-03-27 08:47] anmolloop-cmd opened #96 "Add a loader to the project"

[2021-03-27 14:38] SeanPrashad commented on #96
Hey @anmolloop-cmd - can you please clarify what you mean by a loader? Thank you!

[2021-04-04 03:20] #96 closed

[2021-04-04 03:21] SeanPrashad commented on #96
Closing as issue isn't clear enough to derive a feature/suggestion

[2021-05-01 18:26] seanprashad opened #98 "Add "Reset Progress" button"
It'd be nice to completely reset your checked questions via a button - this might also help individuals experiencing bugs as well.

[2021-05-21 08:39] NirmalSilwal opened #99 "suggestion - add Frequency of question asked"
Hi @SeanPrashad, it would be great to filter question by frequency. This would be helpful to those people who are interviewing soon. What do you think about this?

[2021-05-21 17:29] SeanPrashad commented on #99
Hey @NirmalSilwal!! Thanks for the suggestion - by "_filter question by frequency_", do you mean to sort questions based on how "_popular_" they are? I'm not sure our [current data set](https://github.com/SeanPrashad/leetcode-patterns/blob/master/src/data/index.js) supports that and I'd have to take a best guess on how to implement it.

I think that one way could be to sort questions based on the

[2021-05-22 02:52] NirmalSilwal commented on #99
Hi @SeanPrashad to filter by frequency I mean to sort question based on how many companies have asked them. Let's say one question X is asked in 8 companies and another question Y in 5 companies. Then we can add that feature to sort by frequency where X occur first and Y after that.

For your better reference this is the similar concept used in **Leetcode frequency**.

I agree that those frequency

[2021-05-22 09:38] amishbhat opened #100 "Why is trees not there in the show pattern drop down ?"

[2021-05-22 09:38] amishbhat opened #101 "Why is trees not there in the show pattern drop down ?"
I want to view questions related to trees. Are they first of all available in the list, if yes, why is it not there in the drop down menu?

[2021-05-22 09:44] #101 closed

[2021-05-22 09:47] #100 closed

[2021-05-24 02:47] iandouglas opened #102 "suggestion: when selecting a company, summarize the types of problems by frequency"
As a user, if I choose a company from the list, I'd like to see a quick summary at the top of the kinds of problems known to be asked by that company, by frequency.

For example, if I pick Amazon from the list, having something at the top that says:

`DFS: 26`, `DP: 18`, `Backtracking: 14`, `BFS: 14`, `Binary Search: 13`, `Heap: 13`
`Arrays: 12`, `2-pointer: 10`, `Fast & Slow Ptrs: 8`, `Trie: 8`
e

[2021-05-24 02:56] SeanPrashad commented on #102
Hey @iandouglas!! Thanks for suggesting this feature - it totally makes sense to me and would definitely be great to have!

[2021-05-24 02:57] SeanPrashad commented on #99
Gotcha @NirmalSilwal!

[2021-05-24 03:09] iandouglas commented on #102
Thanks @SeanPrashad . This site yo'uve put together is FANTASTIC. I've given it out to my students at turing.edu as well as people that I coach on interviewing.io. Keep up the great work!

[2021-05-24 03:21] SeanPrashad commented on #102
That's incredible to hear @iandouglas!!!

This site started out as a side-project back in the final year of my undergrad - I was frustrated with finding free resources for software engineering interviews and could not afford premium subscriptions/courses, coming from a poor family. My hope for this website is to continue supporting individuals from all over the world in their own interview prep jo

[2021-05-24 03:22] SeanPrashad commented on #102
That's incredible to hear @iandouglas!!!

This site started out as a side-project back in the final year of my undergrad - I was frustrated with finding free resources for software engineering interviews and could not afford premium subscriptions/courses (_as I come from a underprivileged family_).

My hope for this website is to continue supporting individuals from all over the world in their own

[2021-06-06 16:20] SeanPrashad commented on #99
Hey @NirmalSilwal - I wanted to let you know that this functionality was added in #104 by our friend @hiromik!

You can simply left-click on the `Companies` header to sort the questions based on the # of companies that have asked it recently:

https://user-images.githubusercontent.com/13009507/120931716-cff6a380-c6c0-11eb-8728-60ade2f28a85.mp4

I'll consider this issue solved but please let me kno

[2021-06-06 16:20] #99 closed

[2021-06-08 17:25] SeanPrashad opened #105 "Improve UX for sorting questions by most asked"
In #104, we introduced the functionality to left click on the `Companies` column header to sort the question list based on how many companies asked each question (see [this](https://github.com/SeanPrashad/leetcode-patterns/pull/104#pullrequestreview-676881748) for an example).

However, it is not apparent that this functionality now exists so we should consider new ways to showcase this.

[2021-06-17 05:11] zerefwayne opened #106 "Add "Linked List" pattern to the problems"

[2021-06-17 15:30] SeanPrashad commented on #106
Hey @zerefwayne! Thanks for opening this issue! There are actually a handful of Linked List problems, however you'll find them under `In-place reversal of a Linked List` and `Fast and Slow pointers` problems. You could also try searching the webpage for `Linked`, which might be also helpful!

I don't think I'll move these two drop-down items to a single `Linked List` item as a `Linked List` isn't

[2021-06-17 15:30] #106 closed

[2021-06-24 01:44] Mauville commented on #86
I solved this issue... I think.
I didn't want to go into the React source code, so I pretty much just wrote a small UserScript that picks a random problem. Since filtering the table removes the entries from the DOM, the random choice is affected by whatever filters are on at the moment.

[The script is here if anybody wants it.](https://greasyfork.org/en/scripts/428376-add-random-problem-button)
I

[2021-08-04 06:04] Shivam60 opened #110 "Support for Dark mode"
As title says if site can have dark background it would be great.

[2021-08-13 21:11] marquelamar opened #112 "Thanks"
Thank you for this. My copy of "Cracking the Code Interview" just arrived yesterday.

[2021-08-13 21:15] seanprashad commented on #112
Great stuff @marquelamar! Remember that this is a journey with its ups and downs - my best advice to you would be to pace yourself with your learning and to take breaks every so often. Remember that looking at solutions is perfectly fine but try to seriously study them and fill in your weaknesses as you go!

Keep in touch!

[2021-08-13 21:15] #112 closed

[2021-08-15 17:46] Tanuj1789 commented on #105
Hey Sean,
Could we keep it sorted by default? If there is an icon present, it would become obvious to toggle it for the user.

[2021-09-02 05:44] shreyshreyansh opened #114 "Company icons are compacted"
![Screenshot 2021-09-02 103245](https://user-images.githubusercontent.com/53744971/131784849-36434b1c-9e91-4629-8fe5-b854b42dd337.png)

[2021-09-03 04:59] seanprashad commented on #102
Hey @iandouglas - looping back with fantastic news! An awesome contributor, @hiromik, submitted a patch which adds a new header section showcasing the patterns when selecting a company:

![image](https://user-images.githubusercontent.com/13009507/131952659-32fa780a-59e4-43ba-8e8f-74d3f2aded05.png)

I'll consider this issue solved with #113, but feel free to open a new issue if any problems arise!

[2021-09-03 04:59] #102 closed

[2021-09-03 15:10] iandouglas commented on #102
@hiromik this looks great, thanks for this!! Thanks @seanprashad for considering this idea, I think it'll be really useful for people to get an idea of things to study for a given company.

[2021-09-07 21:06] iandouglas opened #117 "Facebook isn't doing DP problems much any more"
Hey @seanprashad just as a heads-up: I know your lists are curated from other sources, but might be worth looking into new sources as well. I've heard from people going through FB interviews currently that they've been told by recruiters that they will no longer be asking DP problems, and I've had this confirmed by other people who do interviewing at Facebook that they're seeing less "signal" from

[2021-09-08 03:06] seanprashad commented on #117
Hey @iandouglas! Thanks a ton for bringing this to my attention - I've also heard from FB interviewers that they are banning/removing DP questions from their internal question bank (_and other monstrous questions like Alien Dictionary_).

With regards to new sources, I'm definitely all ears! My original thought when creating this project was to limit the list to questions that forced individuals t

[2021-09-12 05:54] seanprashad commented on #114
Fixed wIth #116

[2021-09-12 05:54] #114 closed

[2021-09-15 02:10] justhappens opened #118 "128. Longest Consecutive Sequence is now medium instead of hard"
The difficulty in LC is adjusted as captioned.

[2021-09-15 02:15] #118 closed

[2021-09-15 02:15] seanprashad commented on #118
Thanks for the heads up @justhappens! I've updated the difficulty from `Hard` to `Medium` for this question 🙌🏽

[2021-10-06 14:00] seanprashad commented on #110
@bharati-21 Feel free to give it a shot! I was tinkering before with Styled Components but never got around to making the changes here. Please let me know if you have any questions!

[2021-10-06 15:20] seanprashad commented on #98
Thanks @thetkpark! I think we could make it a little smaller to match the sizing of the labels, but feel free to open a PR and we can take it from there 👍🏽

[2021-10-20 04:13] #98 closed

[2021-10-20 04:22] seanprashad opened #121 "Clicking "Reset Button" doesn't uncheck boxes and hide patterns"
Follow-up on this which was introduced in #120

[2021-10-22 04:37] #121 closed, assigned to nobody

[2021-10-26 20:08] ravikanthmp opened #123 "Export as list to leetcode?"
Could we have an option to export to leetcode as list ?

[2021-11-03 07:21] adityakrshnn opened #125 "Can we have a Progress Bar?"
Can we show a progress bar to highlight the completion of problems? It can motivate users to do more. We can also show individual progress bars along with an overall bar. We can even add celebratory confetti every time the progress moves. I can help you make this

[2021-11-04 04:19] seanprashad commented on #125
Cool idea @adityakrshnn - feel free to open a PR and we can discuss things from there! Thank you!

[2021-11-11 12:29] PingPongSet opened #126 "Adding example questions to each tip on "Tips to Consider""
Great section, is it possible to add example questions to each tip on "Tips to Consider"?

[2021-11-16 19:46] ravikanthmp commented on #123
yes, the latter.  Idea is to enable 'clone' the list so that it shows up the 'Lists' dropdown

[2021-11-23 02:40] a5ehren opened #128 "Add QuickSelect pattern category?"
Problems like "Kth Largest Element in an Array" that are currently tagged as "Heap" now have interviewers expecting you to use quickselect on them because it is faster in O() time. I noticed the site does not have a category for QS at the moment, but apparently this is starting to be expected?

[2021-11-27 14:05] RealArv opened #130 "A column showing question number"
Can you add a column which will show the question number with respect to that question? It will be much easier to navigate

[2021-11-27 18:41] seanprashad commented on #128
Hey @a5ehren! You make a great point and I agree that we can introduce the `Quickselect` pattern, although I remember only coming across 1-2 well though-out questions that required it.

How do you feel about opening a PR? 😀

[2021-11-27 18:44] seanprashad commented on #130
Hey @RealArv! Thank you for this - I was wondering if you could clarify what you mean't by:

For example, https://leetcode.com/problems/contains-duplicate/ is Leetcode #217, so would you want to see a column showcasing `217`? The reason I'm asking is that we currently don't store this - [see here for what we do](https://github.com/seanprashad/leetcode-patterns/blob/712626c796df6cab5276756d4dd44366

[2021-11-28 00:22] #128 closed

[2021-11-28 05:24] RealArv commented on #130
Hey Sean! What I meant is to add a column which will show question numbers,
so that a person can remember where the particular question is . For
example the 4th question is 'single number'. If I wanted to get the 100th
question, I just have to look for that in that column instead of manually
remembering where it was. I can just note down the question numbers which I
couldn't solve and can come bac

[2021-11-29 03:35] #130 closed

[2021-11-29 03:38] seanprashad commented on #130
Thanks a bunch for that explanation! With #132 now landed in `master`, you'll be able to view the question ID when you hover over the checkbox:

![Question_ID_In_Tooltip](https://user-images.githubusercontent.com/13009507/143804939-3494f987-902c-448f-be6b-1f63366d617b.gif)

Best of luck in your studying and feel free to circle back if you have any other questions/comments! 😁

[2021-11-29 04:57] Vikram-T commented on #123
I was able to create a list for most of the questions. It has a few extra questions which are from Blind 75 and doesn't have the premium questions: https://leetcode.com/list/9w0th9dj

Missing premium questions:
https://leetcode.com/problems/word-squares
https://leetcode.com/problems/employee-free-time
https://leetcode.com/problems/design-search-autocomplete-system
https://leetcode.com/problems/mee

[2021-11-29 07:07] ducalpha opened #133 "Add a confirmation for Reset button"
The current `Reset` button immediately clears all the progress (i.e., the check boxes) by only 1 click. It would be better to avoid accidental resetting the progress by adding a Reset Confirmation dialog.

[2021-12-09 21:15] ravikanthmp commented on #123
Thank you Vikram!

[2021-12-09 21:15] #123 closed

[2022-01-03 13:33] kaleem68 opened #136 "Reusing the templete"
I find https://seanprashad.com/leetcode-patterns/ web interface super useful and productive, what is the best way so we can create independent list using this web interface. Only way I see is to clone repo and dump new questions data and redeploy independently! Can we do better?

[2022-01-03 16:43] seanprashad commented on #136
Hey @kaleem68, thanks for reaching out! If you want to reuse the existing user interface, but with your own custom list, the best way would be to create a fork on GitHub, clone that fork your local machine, and then edit [`src/data/index.js`](https://github.com/seanprashad/leetcode-patterns/blob/master/src/data/index.js).

Please keep in mind that by doing so, you'll have to follow the rules of th

[2022-01-06 22:24] Banashri opened #138 "Can we have the list in doc or pdf format also?"

[2022-01-07 04:12] seanprashad commented on #138
Hey @Banashri, thank you for reaching out!! I'll open this up to any contributors - I don't personally plan on making the list available via a `.doc`/`.pdf` since it might get out of date, but feel free to try saving the webpage as a `PDF` and see how that turns out!

[2022-01-07 23:08] Banashri commented on #138
@seanprashad Thanks.

Just an idea:
The problems list (some data file, I suppose) that you use for the UI can be feed into the document /excel generation code, each time you update the UI.

[2022-01-16 22:40] seanprashad commented on #136
Considering this resolved! Please reach out if you have any other questions!

[2022-01-16 22:40] #136 closed

[2022-01-25 02:32] aaronyryuan opened #139 "swap problem order"
I think "maximum depth of binary tree" problem should come before "maximum diameter of binary tree" for continuity

[2022-01-25 19:43] guneetbatraoriginal opened #140 "You should also include prefix sum pattern to list of pattern. Along with questions"

[2022-01-25 21:05] #139 closed

[2022-01-25 21:05] seanprashad commented on #139
Done! Thanks @aaronyryuan

![image](https://user-images.githubusercontent.com/13009507/151059580-bb9d4f46-c7ef-40e9-939a-7abdc24c27df.png)

[2022-01-31 18:29] mehul1011 opened #151 "Can we have leetcode list of all of your questions (so that it's possible to directly solve there and the list auto updates for all solved questions)."

[2022-01-31 18:35] seanprashad commented on #151
Hey @mehul1011! I _think_ you'd like something like https://leetcode.com/list/9w0th9dj/? (All credit goes to @Vikram-T in their post [here](https://github.com/seanprashad/leetcode-patterns/issues/123#issuecomment-981291804).

Please let me know if this is what you were looking for!

[2022-01-31 18:35] seanprashad commented on #151
Hey @mehul1011! I _think_ you'd like something like https://leetcode.com/list/9w0th9dj/? (All credit goes to @Vikram-T in their post [here](https://github.com/seanprashad/leetcode-patterns/issues/123#issuecomment-981291804)).

Please let me know if this is what you were looking for!

[2022-01-31 18:38] mehul1011 commented on #151
That is it, thanks a lot!!

[2022-01-31 18:39] #151 closed

[2022-02-09 14:59] Vandivier opened #152 "Isn't `121. Best Time to Buy and Sell Stock` a Greedy algorithm?"
It's tagged as DP

I guess we can say "Greedy algos are a special case of DP" but I would still expect both tags to be on the problem

[2022-02-09 17:15] seanprashad commented on #152
Hey @Vandivier 👋🏽

We actually had this discussion recently over here: https://github.com/seanprashad/leetcode-patterns/pull/129. It's been a very long time since I've solved this question but skimming over recent comments mention that this is a modified version of Kadane's algo. I'm totally open to adding `Greedy` to this question but would first appreciate being linked to a clear explanation!

[2022-02-11 00:56] Vandivier commented on #152
Love your openness here. Let's start with a quick technical solution:
[code]

[Greedy algorithms can be defined as](https://en.wikipedia.org/w/index.php?title=Greedy_algorithm&oldid=1070097233) any algorithm that follows the problem-solving heuristic of making the locally optimal choice at each stage. You can see that is what we are doing here.

Depending on how we define DP, greedy algos are eith

[2022-02-11 01:11] seanprashad commented on #152
Thank you for walking me through this - your logic was easy to follow at each step! I'll go ahead and reopen & merge #129 as to give credit to the original author and mark this as closed. Cheers! 😁

[2022-02-11 01:17] #152 closed

[2022-02-11 01:19] seanprashad commented on #152
Updated, thanks again!

<img width="1089" alt="image" src="https://user-images.githubusercontent.com/13009507/153523708-e4d2d357-fab1-409f-a16f-df1f49a61bdb.png">

[2022-02-11 06:59] veeral-patel opened #154 "Add a way to save completed problems"
Hi - if you could log in or download and later upload the list of problems you completed, instead of just storing in localstorage, that would be a great improvement and also allow users to use the project across devices.

[2022-02-11 07:00] veeral-patel opened #155 "Integrate with leetcode to populate completed problems"
Another idea is integrating with Leetcode's API, if one exists, to mark already completed problems on LC as done.

[2022-02-11 10:45] veeral-patel opened #156 "Be able to filter by completion status"
It would be useful to be able to filter problems based on whether they were marked done or not.

[2022-02-25 03:13] philiplee13 commented on #133
Hi @seanprashad - was it okay for me to try to take this one on? Also was there a "level" of confirmation that you wanted for this?
ie. Did you just want a pop up - or did have something specific in mind?

Thanks!

[2022-02-25 03:17] seanprashad commented on #133
Hey @philiplee13 👋🏽 Yeah for sure, please feel free to give it a shot! I was thinking of a simple modal window with a `Confirm` button in green and a `Cancel` button in grey, but feel free to get creative ✌🏽

[2022-03-01 18:38] veeral-patel opened #162 "Tag questions by sub-patterns as well"
It would be useful if each of the questions were tagged with sub-patterns as well.

For instance under heap there would be sub-patterns for:
- k-way merge
- top k elements
- moving best
- multiple heaps

This makes it much easier to match question to pattern, as each pattern is much more specific.

[2022-03-02 03:30] seanprashad commented on #133
Will be fixed with #163

[2022-03-02 22:17] #133 closed

[2022-03-03 10:50] michelececcacci commented on #156
Is this issue still open? i could try to implement it

[2022-03-03 15:36] seanprashad commented on #156
Hey @michelececcacci! Yes it is, please let me know if you'd like to give it a shot!

[2022-03-05 09:12] matteasu commented on #105
What about adding a tooltip when the pointer is on companies ?

[2022-03-10 08:52] OrdinaryGecko opened #164 "Filters should not reset after a refresh/new session"
When I refresh the page, my chosen filters like patterns, difficulty etc. gets reset. Is it possible to retrieve last used filters?

[2022-03-10 17:40] seanprashad commented on #164
Duplicate of https://github.com/seanprashad/leetcode-patterns/issues/87

[2022-03-15 05:46] sriharsha1507 opened #165 "I made it"
You told me to open a Pull request once I made it. How to catchup with you?
😄 your secret friend 😁

[2022-03-28 08:15] tobias-wilfert commented on #155
The closest thing to an API Leetcode has is this: https://leetcode.com/api/problems/algorithms/
Which allows you to retrieve a JSON containing data about the problems (including if the logged-in user solved them).

**In the meantime**
You can grab the names of the questions you solved and then run the following code in the console on the website, this will check the boxes of all the questions you

[2022-04-04 08:54] steviekong commented on #164
This PR should resolve the issue

[2022-04-04 19:04] #164 closed

[2022-04-18 14:39] KashyapCKotak commented on #99
Can't find this option now...

[2022-04-18 15:01] seanprashad commented on #99
Hey @KashyapCKotak! This feature is working for me - would you be able to refresh your page and let us know if the issue still persists? It might be a bug we haven't discovered as yet!

![sorting-companies](https://user-images.githubusercontent.com/13009507/163827738-61134045-cb66-4101-9337-ccf3961dd770.gif)

[2022-05-09 18:32] doranmartinez opened #170 "Random Problem Generation"
Would be cool to have a button that randomly selected a problem to study.

[2022-06-25 16:54] mcwinters opened #173 "Edit to Tips section"
I believe you should add QuickSelect to the Tips portion under "If asked for top/least K items then". It is usually optimal and a better choice than heap, although more difficult.

[2022-06-25 16:59] seanprashad commented on #173
Hey @mcwinters! You're totally right - would you like to open a PR for it? Here's what we need to change ([Direct file URL](https://github.com/seanprashad/leetcode-patterns/blob/master/src/components/Tips/index.js#L38)):

[code]

[2022-07-11 19:46] junhaz4 opened #174 "Difficulty Level Not Match"
Some problems' difficulty levels do not match the leetcode version, please update it.

[2022-07-12 02:59] junhaz4 commented on #174
Hi @seanprashad. For example, [Peak Index in a Mountain Array](https://leetcode.com/problems/peak-index-in-a-mountain-array/) under the Binary Search Pattern is marked as easy, but medium on the leetcode.

[2022-07-23 00:08] #173 closed

[2022-07-23 00:27] #174 closed

[2022-07-23 00:33] seanprashad opened #179 "Improve integration using Leetcode's GraphQL API"
In #177, it was brought to my attention that Leetcode has exposed their API via GraphQL. We should leverage this to automatically update question metadata, including difficulty and companies. Taking things even further, having a script to generate our [question data](https://github.com/seanprashad/leetcode-patterns/blob/master/src/data/index.js) via a cron job would be a dream!

[2022-07-24 03:52] Shashank5665 commented on #170
Hello there,
Can I please try to work on this issue?
I would like to contribute!

[2022-07-24 10:05] seanprashad commented on #170
Hi @Shashank5665! Yes, please go ahead and let me know if you have any questions!

[2022-07-25 17:23] #156 closed

[2022-07-25 22:35] leo-step commented on #179
A script like this shouldn't be too bad to write, but I'm wondering how you would go about making it a cron job with the website being frontend only.

[2022-07-25 22:43] seanprashad commented on #179
Good question! I think the easiest way is to leverage GitHub Actions - this blog post explains how we can introduce this capability: https://dev.to/anshuman_bhardwaj/free-cron-jobs-with-github-actions-31d6

More specifically, these files would be great as a starting point: https://github.com/Anshuman71/tweet-my-articles/tree/main/.github/workflows

[2022-07-26 02:48] leo-step commented on #179
Very cool, I'll check it out! I didn't know that GitHub let you to do things like this.

Would the idea be to have the workflow make an automatic commit with the new index.js file?

[2022-07-26 03:02] seanprashad commented on #179
Yeah I think that sounds right - let's start very small and introduce functionality one piece at a time. Here's what I was thinking - let me know if you see areas for improvement:

1. Introduce a GitHub Workflow (_without any `cron` job for now_) to automatically run the Python script you had authored in #177 and print the output to the console - this should introduce us to GitHub Workflows with h

[2022-07-29 15:13] leo-step commented on #179
I opened a PR (for tracking progress) where I have step 1 currently completed.

[2022-07-29 16:49] seanprashad opened #183 "Create GitHub Workflow to automatically deploy code"
**Context:** Everytime new code is merged into `master`, I need to manually deploy things using `npm run deploy`. In order to automate things, let's introduce a GitHub Workflow that will accomplish this for us!

**Solution:** Introduce a GitHub Workflow that will build and deploy our static site - see [this blog post](https://medium.com/@danieljimgarcia/publishing-static-sites-to-github-pages-usin

[2022-07-29 17:42] #183 closed

[2022-07-29 17:46] seanprashad opened #185 "Correct Workflow to use `master` instead of `main` branch"

[2022-07-29 17:48] #185 closed

[2022-07-29 18:28] seanprashad opened #187 "Move all assets into `static` folder"

[2022-07-29 18:31] #187 closed

[2022-07-29 18:43] seanprashad opened #189 "Enable `keep_files` in GitHub Pages workflow"
See https://github.com/peaceiris/actions-gh-pages#%EF%B8%8F-keeping-existing-files-keep_files - we need this because the directory with all of the content is being removed in the current Workflows:

[code]

[2022-07-29 18:44] #189 closed

[2022-07-29 23:12] seanprashad opened #203 "Check GH Pages status before deploying"

[2022-07-29 23:15] #203 closed

[2022-07-30 01:54] seanprashad commented on #155
Relates to #179

[2022-07-30 03:24] seanprashad commented on #179
It looked great! I was browsing to see if the list of companies for each question is provided by GraphQL and good news - it is:

For https://leetcode.com/problems/two-sum/:

[code]

[2022-08-03 19:13] seanprashad opened #207 "Correct absolute path for run-cron GitHub Action"
See https://github.com/seanprashad/leetcode-patterns/runs/7656109102?check_suite_focus=true#step:5:13

[2022-08-03 19:40] seanprashad commented on #207
cc @leo-step

[2022-08-04 02:54] #207 closed

[2022-08-05 14:54] seanprashad opened #209 "Retrieve companies using Leetcodes API"
In #179, we introduced functionality to automatically retrieve the difficulty of a question via Leetcode's GraphQL API. It would be great for us to extend this functionality to also retrieve and populate [questions.json](https://github.com/seanprashad/leetcode-patterns/blob/master/src/data/questions.json) with the information.

In order to grab the list of companies, we'll need to authenticate via

[2022-08-05 14:57] seanprashad commented on #179
Opened #209 which aims to introduce functionality to retrieve companies for each question. We can then consider this issue complete and close things! Thanks again for all of your work @leo-step!

[2022-08-05 14:57] #179 closed

[2022-08-05 23:30] leo-step commented on #209
I was looking into this and I ran into some difficulties with the login. It seems that LeetCode implemented reCaptcha and these previous methods of logging in don't work anymore. The [top issue](https://github.com/realvect0r/leetcode-api/issues/12) on the repo you linked describes this issue.

[2022-08-05 23:34] seanprashad commented on #209
Ahh, thanks for surfacing that! It might still be a somewhat manual process where I'll have to login and grab my `LEETCODE_SESSION` then update a new secret, something like `LEETCODE_SESSION_TOKEN`.

[2022-08-06 17:09] seanprashad commented on #209
Fixed with #210

[2022-08-06 17:09] #209 closed

[2022-08-06 17:11] seanprashad opened #211 "Create missing company icons"
With the completion of #209, we now are able to programatically retrieve the list of companies for each question. As a result, there are now a handful of companies that are now appearing, but do not have icons. We should source icons and add them for the missing companies, ie. Nvidia, VMware, Yahoo, Intel, etc..

Icons live in https://github.com/seanprashad/leetcode-patterns/tree/master/public/sta

[2022-08-06 17:13] seanprashad commented on #155
With the introduction of #210, we should be able to accomplish this. I was thinking that we could retrieve all completed questions for a user and populate the checkboxes as such.

[An example might be:](https://leetcode.com/discuss/general-discussion/1297705/is-there-public-api-endpoints-available-for-leetcode) might have a few leads for us!

[2022-08-06 17:14] seanprashad commented on #154
Duplicate of #155

[2022-08-06 17:14] seanprashad commented on #117
Marking this as solved due to not being actionable

[2022-08-06 17:14] #117 closed

[2022-08-06 17:16] seanprashad commented on #138
Relates to #154

[2022-08-06 17:23] seanprashad opened #212 "Fix icons path"
Follow-up to #210 since we're now using `slugs`, which are lower-case!

[2022-08-06 17:33] #212 closed

[2022-08-06 19:15] seanprashad commented on #211
Also fix the companies dropdown list!

[2022-08-06 20:53] #211 closed

[2022-08-06 20:54] seanprashad opened #215 "Add functionality to filter by a company"
With the refactoring of `questions.json` in #210, the filtering capability for companies broke and no longer works. For now, I've disabled it as it's redundant, but we should look to fix this in the future.

[2022-08-06 20:57] seanprashad commented on #215
See #180 for an example of how we can accomplish this - we can introduce a new filter to parse and populate the dropdown list, based on all companies:

[code]

However, this isn't the full solution as we need a custom filter method - again see #180 for support!

[2022-08-06 20:58] seanprashad commented on #215
cc @leo-step - you might have some ideas here !

[2022-08-07 00:08] seanprashad opened #217 "Multi-thread API calls to Leetcode"
With https://github.com/seanprashad/leetcode-patterns/blob/5f092dce7487afe30d699cd7cf43ead7c8c7bee4/cron/update_questions.py#L51, we're able to programatically retrieve question metadata in a sequential manner using Leetcode's API.

It would be great if we were to perform these calls asynchronously in order to speed up the script (_which takes ~20-30 seconds right now_).

[2022-08-07 15:36] wind2002 opened #218 "Website shows not a single question today"
https://seanprashad.com/leetcode-patterns/
None of the questions are being showed today.

[2022-08-07 15:43] seanprashad commented on #218
So sorry about this @wind2002 - are you able to try in an incognito/browser?

Also any more details from the developer console would be great!

We just landed a PR to automate retrieving metadata from Leetcode's API and that might have introduced a bug!

[2022-08-07 15:47] wind2002 commented on #218
incognito/private browser seems work for me, thanks for the suggestion.
I'll try to clear the cache for my browser later.
Just a heads up that other people might hit into same problem as I do.

[2022-08-07 15:50] seanprashad commented on #218
Okay great! Working in incognito won't save your progress if you use the checkboxes, so try doing a "hard refresh" via `Cmd` + `Shift` + `R` - this might fetch icons for the new companies I've added yesterday.

If that doesn't help, try clearing localstorage later on in your regular browser and loop back with any error messages in the dev console.

Thanks for opening this issue!!

[2022-08-07 16:07] leo-step commented on #218
I haven't run into this issue when opening the site on my end.

[2022-08-07 16:19] seanprashad opened #220 "Move cron job to Sunday morning"
The time that Leetcode updates their company metadata is sometime on Saturday. With #210, we're now retrieving the metadata automatically, but todays cron job missed the update - see the latest manual run by myself.

Let's look to update it to run weekly at 5:00am PT/8:00am ET on Sunday morning!

[2022-08-07 17:47] leo-step opened #221 "Some questions lost their list of companies"
e.g. Range Sum Query was previously tagged with Facebook and Adobe, but now doesn't have any companies. Can we check to make sure this is correct?

Edit: This is the complete list of these questions.

![Screen Shot 2022-08-07 at 1 54 31 PM](https://user-images.githubusercontent.com/44349262/183304488-4c846934-c6bd-4173-9955-3276fddc4e34.png)

[2022-08-07 18:23] leo-step commented on #215
Have a solution for this but we should check issue #221 first.

[2022-08-07 18:32] seanprashad commented on #221
Confirming that Range Sum Query has Facebook/Amazon still showing within 6 months:
![Screenshot 2022-08-07 at 2 31 25 PM](https://user-images.githubusercontent.com/13009507/183305815-739dfb10-b6d1-452d-8aba-6ea8e79fa661.jpg)

[2022-08-07 18:45] leo-step commented on #215
Even if #221 is a bug, do you think we should have a 'None' option in the company filter dropdown?

[2022-08-07 19:00] seanprashad commented on #215
I haven't actually seen a question that has no companies attached to it - the new questions might, but all of the ones in this list have been around for sometime and are commonly asked (_or variants are asked_).

[2022-08-07 19:03] seanprashad commented on #221
I'm wondering if we're getting rate-limited? 🤔 Going to try removing all but these problematic questions and run the script locally

[2022-08-07 19:24] seanprashad commented on #221
Okay I figured it out - in the response, the `"1"`, `"2"`, or `"3"` represent the following tabs:

[code]

See below for [`Generalized Abbreviation`](https://leetcode.com/problems/generalized-abbreviation/):

[code]

This makes sense why no companies appear for it, because it has not been asked within 0-6 months (_we currently only look for `"1"`_).

Does this make sense? I think we could also pos

[2022-08-07 19:46] lincolnschick commented on #218
I had the same problem and cmd shift r didn't fix it. I cleared local storage, and the problems are back although I can't filter by company still. I see 404s for the duolingo and cohesity icons in the console.
<img width="1165" alt="Screen Shot 2022-08-07 at 2 31 52 PM" src="https://user-images.githubusercontent.com/68517913/183308358-2d6f4606-797b-4889-bf9a-4b2182738f7d.png">
<img width="1156" al

[2022-08-07 20:12] seanprashad commented on #218
Really appreciate the input @lincolnschick - I'm confirming that I also don't see `Duolingo` or `Cohesity` for the companies. I have to add them here:

https://github.com/seanprashad/leetcode-patterns/tree/master/public/static/icons

<img width="1142" alt="image" src="https://user-images.githubusercontent.com/13009507/183309346-997688d3-5676-43af-8b97-e30e200bd35d.png">

[2022-08-07 20:12] seanprashad opened #222 "Add Duolingo and Cohesity company icons"
Really appreciate the input @lincolnschick - I'm confirming that I also don't see `Duolingo` or `Cohesity` for the companies. I have to add them here:

https://github.com/seanprashad/leetcode-patterns/tree/master/public/static/icons

<img width="1142" alt="image" src="https://user-images.githubusercontent.com/13009507/183309346-997688d3-5676-43af-8b97-e30e200bd35d.png">

_Originally posted by @sea

[2022-08-07 20:16] #222 closed

[2022-08-07 20:39] #220 closed

[2022-08-07 21:08] seanprashad commented on #221
Here's the code change if we want to pursue the 1 year scope:

[code]

[2022-08-07 21:29] #221 closed

[2022-08-07 21:33] seanprashad opened #226 "Add missing company icons for past year"
After landing #225, we'll need to source more company icons that are missing!

[2022-08-07 21:38] #215 closed

[2022-08-07 22:27] leo-step opened #229 "Problems pattern frequency doesn't show colors for new companies"
These pills are gray for the newly added companies (e.g. Airbnb) while they are supposed to be colored by difficulty. The pills work correctly for the companies we previously had like Apple and Microsoft.

Expected:

![Screen Shot 2022-08-07 at 6 26 55 PM](https://user-images.githubusercontent.com/44349262/183313397-9aa0a9f2-2f19-4441-a1fa-bcf357be72cc.png)

Current:

![Screen Shot 2022-08-07 at 6

[2022-08-07 23:07] seanprashad commented on #229
Steps to reproduce:

1. Select any company from the dropdown list under `Companies`
2. Observe the pills under `Problems pattern frequency`

[2022-08-07 23:10] seanprashad commented on #229
One problem that I see here is from a UX perspective - the colouring is also used in the `Difficulty` column to denote Easy/Medium/Hard questions.

Here, we use the same schema, but instead use it to denote 0-7, 8-15, and 15+ for colouring. There are two different contexts and we should look into a better colouring scheme when revisiting this!

[2022-08-08 00:08] #226 closed

[2022-08-08 00:14] seanprashad commented on #170
Hey @Shashank5665! 😁 I'm checking in to see how you're doing and if I can provide any help/suggestions?

[2022-08-08 00:22] seanprashad commented on #105
Hey guys, so sorry for not getting back sooner - not sure how I didn't see this!!

By default, things are not sorted, and I think that it might be the most beneficial that way. I think the least-evasive way would be to add a tooltip like how @matteasu mentioned.. maybe something like "_Sorted by default_", "_Sorted by company count ASC_", and "_Sorted by company count DESC_" - this is really rough

[2022-08-08 00:23] seanprashad commented on #90
Closing as this behaviour is acceptable - we always group questions by `Difficulty`, which is enough.

[2022-08-08 00:23] #90 closed

[2022-08-08 00:24] seanprashad commented on #86
#170 is a duplicate of this !

[2022-08-08 00:25] #85 closed

[2022-08-08 00:26] #77 closed

[2022-08-08 02:10] Shashank5665 commented on #170
Hello @seanprashad 😃, I was able to successfully set up the project in my system. But, I was not familiar with react tables, useMemo, and a few other things in this project, and currently, my college exams are going on too😐. So, I was a bit busy with that.. but yeah I am in the process of learning react and I will definitely complete this once my exams are over, which will get over within 2 weeks

[2022-08-08 02:13] seanprashad commented on #229
More breadcrumbs: https://github.com/seanprashad/leetcode-patterns/blob/2409a6018fc903d596a28be15c551f956370f450/src/components/PatternFrequencies/index.js#L47

[2022-08-08 02:33] seanprashad commented on #170
Okay sounds good! Don't hesitate to let me know if you need help, or if you'd like to open this up for another contributor. Good luck in your exams!

[2022-08-11 03:01] seanprashad commented on #229
Looks like some companies, like `Apple`, show up correctly:
![Uploading image.png…]()

[2022-08-14 03:30] leo-step commented on #229
The issue is in this line:
https://github.com/seanprashad/leetcode-patterns/blob/2409a6018fc903d596a28be15c551f956370f450/src/components/PatternFrequencies/index.js#L27

The colors will only show up if a given company has a category of questions (e.g. heap) that has a frequency of at least three. I tested this with Airbnb by adding the company and the "Heap" pattern to the first question in questi

[2022-08-14 14:51] seanprashad commented on #229
Hmm well, I'm not sure to be honest. Ideally, I think some sort of coloured gradient would look nice, where a darker shade maps to a pattern that is more frequent. There's a bunch of websites to help do the CSS, like https://coolors.co/gradient-maker.

[2022-08-14 14:53] seanprashad commented on #217
Reopened due to #232 - when the updated script ran in GitHub Actions, question #170 was being incorrectly updated with a random question's metadata.

[2022-08-14 14:57] seanprashad opened #234 "Ensure GitHub Pages redeploys after scheduled run-cron job"
In https://github.com/seanprashad/leetcode-patterns/commit/1f3beff2609425b0f2ed5d2f05f138ccf53126ef, we run https://github.com/seanprashad/leetcode-patterns/blob/master/cron/update_questions.py via https://github.com/seanprashad/leetcode-patterns/blob/master/.github/workflows/run-cron.yml to update the companies on a weekly basis.

The problem is that we don't actually redeploy the updated website

[2022-08-14 15:00] seanprashad commented on #234
Look into triggering a second GitHub Action: https://stackoverflow.com/questions/62750603/github-actions-trigger-another-action-after-one-action-is-completed

Need to confirm, but we could do something like:

* `run_cron.yml` runs on the scheduled time
* After successfully completing, run https://github.com/seanprashad/leetcode-patterns/actions/workflows/github-pages.yml to pull the updates files

[2022-08-14 15:02] seanprashad opened #235 "[Ongoing] Add missing company icons"
August 14, 2022:
![Screenshot 2022-08-14 at 11 01 34 AM](https://user-images.githubusercontent.com/13009507/184542942-f91ded86-fc8f-4486-a161-7448abe6b81b.jpg)

[2022-08-14 22:16] seanprashad commented on #234
https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#workflow_run

[2022-08-14 22:42] #234 closed

[2022-08-14 22:45] seanprashad commented on #234
Working - see https://github.com/seanprashad/leetcode-patterns/actions/runs/2857435317

[2022-08-19 15:23] Shashank5665 commented on #170
Hello @seanprashad, My exams are over :D and I am continuing with the feature, I created a button that when clicked generates a random question, but I have made it such that it opens a new tab and takes the user to the leetcode site with the generated random question. I am finding it a bit difficult in understanding the Header and Cell cuz of which I am not getting how to render the generated ques

[2022-08-19 17:22] seanprashad commented on #170
Sounds like you're making solid progress so far! Do you have a branch that we could take a look at? Feel free to open a "_Draft_" Pull Request - that would make it much easier for me to concretely point you in the right direction!

As far as `Header` and `Cell`, `Header` is the code that will generate the "first row" of the table where we have things like dropdown menus:

![Screenshot 2022-08-19 a

[2022-08-21 01:53] #138 closed

[2022-08-22 16:53] seanprashad commented on #170
Fixed with #240

[2022-08-22 16:53] #170 closed

[2022-08-22 16:55] seanprashad commented on #217
Closing due to sporadic behaviour with GitHub Actions and multiple threads. We can revisit this at a future time when the situation warrants it.

[2022-08-22 17:00] Shashank5665 commented on #170
Thank you so much @doranmartinez for opening this issue, I was able to implement this feature with the help of @seanprashad 🙌

[2022-08-23 03:21] seanprashad commented on #126
https://leetcode.com/discuss/study-guide/1691931/Beginner's-guide-on-interview-preparation

[2022-09-02 15:20] Shashank5665 commented on #110
Hello again @seanprashad !😁, is this still open? @bharati-21 did you complete this ?

[2022-09-02 16:59] seanprashad commented on #110
Hey @Shashank5665! I think it's safe to consider this issue still open - feel free to take a crack at it. Note that it will be a little more difficult than your previous bug! Good luck!

[2022-09-02 17:30] Shashank5665 commented on #110
Sure @seanprashad, I will definitely take a look at it.

[2022-10-18 12:34] DimaAmega opened #242 "Website is down"
[web site](https://seanprashad.com/leetcode-patterns/) is down. It's because github pages down

[2022-10-18 12:37] seanprashad commented on #242
Thanks for the heads up @DimaAmega - I'm not sure if GitHub pages itself is down (_https://www.githubstatus.com/ shows everything fine as of Oct 18/22 at 8:36am ET_), but I noticed that GitHub pages was somehow disabled for my main website, which will be a problem.

I've re-enabled it and I'm currently re-deploying `leetcode-patterns` to see if that will resolve things.

[2022-10-18 12:40] fdemir commented on #242
Thanks. It's running. @seanprashad

[2022-10-18 12:40] seanprashad commented on #242
**Update:** The deployment was successful and the website should be up and running now!

[2022-10-18 12:41] DimaAmega commented on #242
Yep, thank you for fast reaction!

[2022-10-18 16:07] seanprashad commented on #242
Closing as website has been back up for a few hours now!

[2022-10-18 16:07] #242 closed

[2022-11-16 22:35] philiplee13 commented on #78
Heyo Sean ~ it's been a while! Have some free time now that school's winding down, Mind if I try taking this one up?

[2022-11-17 00:43] seanprashad commented on #78
Hey @philiplee13! For sure - feel free to take a crack at it and let me know if you get stuck at all. I'd look over here and see how we create another "_custom_" column: https://github.com/seanprashad/leetcode-patterns/blob/0230f20a1b2a55cccc4cfb48fdaf6213aa9b7016/src/components/Table/index.js#L199-L238

[2022-11-19 17:26] ap247 opened #243 "Switching order of reverse linkedlist and palindrome linkedlist?"
Would you consider switching the order of reverse LinkedList and palindrome linked list since palindrome seems to require reverse in its solution, making reverse a natural lead into palindrome?

[2022-11-19 18:26] #243 closed

[2022-11-19 18:27] seanprashad commented on #243
Hey @ap247! Thanks for the suggestions - I've gone ahead and moved `Reverse a Linked List` in front of `Palindrome Linked List`. Thank you!

[2022-11-19 18:30] ap247 commented on #243
Hey Sean, thanks for the quick change! I really appreciate the list and that you're still actively maintaining it.

[2022-11-24 07:58] Siletskiy-igor opened #254 "Patterns"

[2022-11-24 17:06] seanprashad commented on #254
Hi @Siletskiy-igor! Would you be able to ask your question in English? Thank you!

[2022-11-25 19:30] philiplee13 commented on #78
Hey @seanprashad - sorry about the delay on this one.

Actually got a bit side tracked, and a few things have came up. I unfortunately won't be able to take on this feature till probably the new year.

If you want to remove the `taken-by-contributor` label please feel free, sorry about this again!

[2022-11-25 19:52] seanprashad commented on #78
No worries - appreciate you letting me know!